* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(65, 165, 165);
    font-size: 62.5%;
    color: white;
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
}

.search {
    display: flex;
    justify-content: center;
    margin: 3rem;
}

.search input {
    width: 30%;
    height: 2rem;
    border-radius: 5px;
}

.display {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    background: white;
    color: black;
    width: 200px;
    height: 350px;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    justify-content: space-around;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    border-radius: 5px;
    position: relative;
}

.logo {
    width: 75%;
}

.symbol {
    position: absolute;
    top: 3px;
    right: 3px;
    background-color: #ddd;
    border: none;
    color: black;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    border-radius: 16px;
}

.name {
    position: absolute;
    top: 8px;
    left: 3px;
}

.btn {
    background-color: lightblue;
    border: none;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 16px;
}

.price-section {
    display: flex;
    justify-content: space-evenly;
}

.card-image {
    margin-top: 2rem;
}